div {
  width: 50vw;
  margin: 1vh auto;
  .main {
    margin-top: 15vh;
    display: inline-flex;
    .photo {
      width: 16vw;
      margin-right: 1vw;
      img {
        max-width: 15vw;
        border-radius: 100%;
      }
    }
    .form {
      width: 34vw;
      mat-form-field {
        margin:0 0 0 0.5vh;
      }
    }
  }
  button {
    float: right;
    background-color: #f68c1f;
    color: #fff;
    font-size: 2.5vh;
    width: 8vw;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      color: #fff;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.w-22 {
  width: 22%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50.5%;
  float: right;
}

.w-100 {
  width: 100%;
}
