<div>
  <mat-card class="example-card" *ngFor="let show of shows">
    <mat-card-header>
      <img mat-card-image [src]="show.photo" [alt]="show.description" [matTooltip]="show.description">
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>{{show.name}}</li>
        <li>{{show.address}}</li>
        <li>{{show.dateShow | date: 'dd/MM/yyyy HH:mm'}}</li>
        <li>{{show.price | currency: 'BRL'}}</li>
      </ul>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="buyShow(show)" mat-button>Comprar</button>
    </mat-card-actions>
  </mat-card>
</div>
