div {
  color: #fff;
  background-color: #f68c1f;
  text-align: center;
  padding: 2vh;
}

#header {
  display: flex;
  align-items: center;
  padding-left: 40vw;
}

#title {
  font-size: 4vh;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

#logo {
  width: 25px;
  height: 25px;
}
