<div class="master">
  <div (keyup.enter)="register()">
    <h1>Cadastrar</h1>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="José da Silva" [formControl]="name" required>
      <mat-error *ngIf="email.invalid">Preencher o campo corretamente.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="exemplo@examplo.com" [formControl]="email" required email>
      <mat-error *ngIf="email.invalid">E-mail inválido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">Preencher o campo corretamente.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="99999-9999" [formControl]="phone" required mask="0000-00009">
      <mat-error *ngIf="phone.invalid">Preencher o campo corretamente.</mat-error>
    </mat-form-field>

    <button class="btn-register" mat-raised-button [disabled]="validatedForm()"
      (click)="register()">Cadastrar</button>

  </div>

</div>
